/* @extend display-flex; */
display-flex,
.display-flex,
.display-flex-center,
.signup-content,
.signin-content,
.social-login,
.socials {
	display: flex;
	display: -webkit-flex;
}

/* @extend list-type-ulli; */
list-type-ulli,
.socials {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

a:focus,
a:active {
	text-decoration: none;
	outline: none;
	transition: all 300ms ease 0s;
	-moz-transition: all 300ms ease 0s;
	-webkit-transition: all 300ms ease 0s;
	-o-transition: all 300ms ease 0s;
	-ms-transition: all 300ms ease 0s;
}

input,
select,
textarea {
	outline: none;
	appearance: unset !important;
	-moz-appearance: unset !important;
	-webkit-appearance: unset !important;
	-o-appearance: unset !important;
	-ms-appearance: unset !important;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	appearance: none !important;
	-moz-appearance: none !important;
	-webkit-appearance: none !important;
	-o-appearance: none !important;
	-ms-appearance: none !important;
	margin: 0;
}

input:focus,
select:focus,
textarea:focus {
	outline: none;
	box-shadow: none !important;
	-moz-box-shadow: none !important;
	-webkit-box-shadow: none !important;
	-o-box-shadow: none !important;
	-ms-box-shadow: none !important;
}

input[type="checkbox"] {
	appearance: checkbox !important;
	-moz-appearance: checkbox !important;
	-webkit-appearance: checkbox !important;
	-o-appearance: checkbox !important;
	-ms-appearance: checkbox !important;
}

input[type="radio"] {
	appearance: radio !important;
	-moz-appearance: radio !important;
	-webkit-appearance: radio !important;
	-o-appearance: radio !important;
	-ms-appearance: radio !important;
}

img {
	max-width: 100%;
	height: auto;
}

figure {
	margin: 0;
}

p {
	margin-bottom: 0px;
	font-size: 15px;
	color: #777;
}

h2 {
	line-height: 1.66;
	margin: 0;
	padding: 0;
	font-weight: bold;
	color: #222;
	font-family: Poppins;
	font-size: 36px;
}

.main {
	background: #f8f8f8;
	padding: 150px 0;
}

.clear {
	clear: both;
}

body {
	font-size: 13px;
	line-height: 1.8;
	color: #222;
	background: #f8f8f8;
	font-weight: 400;
	font-family: Poppins;
}

.container {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 700px;
	height: 600px;
	background: #fff;
	margin: 0 auto;
	box-shadow: 0px 15px 16.83px 0.17px rgba(68, 48, 48, 0.07);
	-moz-box-shadow: 0px 15px 16.83px 0.17px rgba(0, 0, 0, 0.07);
	-webkit-box-shadow: 0px 15px 16.83px 0.17px rgba(0, 0, 0, 0.07);
	-o-box-shadow: 0px 15px 16.83px 0.17px rgba(0, 0, 0, 0.07);
	-ms-box-shadow: 0px 15px 16.83px 0.17px rgba(0, 0, 0, 0.07);
	border-radius: 20px;
	-moz-border-radius: 20px;
	-webkit-border-radius: 20px;
	-o-border-radius: 20px;
	-ms-border-radius: 20px;
	/* background-color: red; */
}

.display-flex {
	justify-content: space-between;
	-moz-justify-content: space-between;
	-webkit-justify-content: space-between;
	-o-justify-content: space-between;
	-ms-justify-content: space-between;
	align-items: center;
	-moz-align-items: center;
	-webkit-align-items: center;
	-o-align-items: center;
	-ms-align-items: center;
}

.display-flex-center {
	justify-content: center;
	-moz-justify-content: center;
	-webkit-justify-content: center;
	-o-justify-content: center;
	-ms-justify-content: center;
	align-items: center;
	-moz-align-items: center;
	-webkit-align-items: center;
	-o-align-items: center;
	-ms-align-items: center;
}

.position-center {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
}

.signin-form,
.signin-image {
	width: 50%;
	overflow: hidden;
}

.form-title {
	margin-bottom: 33px;
}

figure {
	margin-bottom: 5px;
	text-align: center;
}

.form-submit {
	display: inline-block;
	background: #6dabe4;
	color: #fff;
	border-bottom: none;
	width: auto;
	padding: 15px 39px;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-o-border-radius: 5px;
	-ms-border-radius: 5px;
	margin-top: 25px;
	cursor: pointer;
}
.form-submit:hover {
	background: #4292dc;
}

#signin {
	margin-top: 16px;
}

input {
	width: 70%;
	display: block;
	border: none;
	border-bottom: 1px solid #999;
	padding: 6px 30px;
	font-family: Poppins;
	box-sizing: border-box;
}
input::-webkit-input-placeholder {
	color: #999;
}
input::-moz-placeholder {
	color: #999;
}
input:-ms-input-placeholder {
	color: #999;
}
input:-moz-placeholder {
	color: #999;
}
input:focus {
	border-bottom: 1px solid #222;
}
input:focus::-webkit-input-placeholder {
	color: #222;
}
input:focus::-moz-placeholder {
	color: #222;
}
input:focus:-ms-input-placeholder {
	color: #222;
}
input:focus:-moz-placeholder {
	color: #222;
}

input[type="checkbox"]:not(old) {
	width: 2em;
	margin: 0;
	padding: 0;
	font-size: 1em;
	display: none;
}

input[type="checkbox"]:not(old) + label {
	display: inline-block;
	line-height: 1.5em;
	margin-top: 6px;
}

input[type="checkbox"]:not(old) + label > span {
	display: inline-block;
	width: 13px;
	height: 13px;
	margin-right: 15px;
	margin-bottom: 3px;
	border: 1px solid #999;
	border-radius: 2px;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	-o-border-radius: 2px;
	-ms-border-radius: 2px;
	background: white;
	background-image: -moz-linear-gradient(white, white);
	background-image: -ms-linear-gradient(white, white);
	background-image: -o-linear-gradient(white, white);
	background-image: -webkit-linear-gradient(white, white);
	background-image: linear-gradient(white, white);
	vertical-align: bottom;
}

input[type="checkbox"]:not(old):checked + label > span {
	background-image: -moz-linear-gradient(white, white);
	background-image: -ms-linear-gradient(white, white);
	background-image: -o-linear-gradient(white, white);
	background-image: -webkit-linear-gradient(white, white);
	background-image: linear-gradient(white, white);
}

input[type="checkbox"]:not(old):checked + label > span:before {
	content: "\f26b";
	display: block;
	color: #222;
	font-size: 11px;
	line-height: 1.2;
	text-align: center;
	font-family: "Material-Design-Iconic-Font";
	font-weight: bold;
}

.agree-term {
	display: inline-block;
	width: auto;
}

label {
	position: absolute;
	left: 0;
	top: 50%;
	transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	color: #222;
}

.label-has-error {
	top: 22%;
}
label.error {
	position: relative;
	/* background: url("../../images/") no-repeat; */
	background-position-y: 3px;
	padding-left: 20px;
	display: block;
	margin-top: 20px;
}

label.valid {
	display: block;
	position: absolute;
	right: 0;
	left: auto;
	margin-top: -6px;
	width: 20px;
	height: 20px;
	background: transparent;
}
label.valid:after {
	font-family: "Material-Design-Iconic-Font";
	content: "\f269";
	width: 100%;
	height: 100%;
	position: absolute;
	/* right: 0; */
	font-size: 16px;
	color: green;
}

.label-agree-term {
	position: relative;
	top: 0%;
	transform: translateY(0);
	-moz-transform: translateY(0);
	-webkit-transform: translateY(0);
	-o-transform: translateY(0);
	-ms-transform: translateY(0);
}

.material-icons-name {
	font-size: 18px;
}

.signin-content {
	padding-top: 100px;
	/* padding-bottom: 87px; */
}

.signin-form {
	/* margin-right: 50px; */
	margin-left: 20px;
}

.signin-image {
	margin-left: 10px;
	/* margin-right: 20px; */
	margin-top: 10px;
}

@media screen and (max-width: 1200px) {
	/* .container {
		width: calc(100% - 30px);
		max-width: 100%;
	} */
}
@media screen and (min-width: 1024px) {
	.container {
		max-width: 1200px;
	}
}
@media screen and (max-width: 768px) {
	.signin-content {
		flex-direction: column;
		-moz-flex-direction: column;
		-webkit-flex-direction: column;
		-o-flex-direction: column;
		-ms-flex-direction: column;
		justify-content: center;
		-moz-justify-content: center;
		-webkit-justify-content: center;
		-o-justify-content: center;
		-ms-justify-content: center;
	}

	.signin-image {
		margin-left: 0px;
		margin-right: 0px;
		margin-top: 50px;
		order: 2;
		-moz-order: 2;
		-webkit-order: 2;
		-o-order: 2;
		-ms-order: 2;
	}

	.signin-form,
	.signin-image {
		width: auto;
	}

	.signin-form {
		order: 1;
		-moz-order: 1;
		-webkit-order: 1;
		-o-order: 1;
		-ms-order: 1;
		margin-right: 0px;
		margin-left: 0px;
		padding: 0 30px;
	}

	.form-title {
		text-align: center;
	}
}
